include checkbox-button.pug

include defaultCheckbox.pug
include richDefaultCheckbox.pug

- var permissionsName = "permissions";

mixin checkbox-buttons-container(name=permissionsName, checkboxesList=richDefaultCheckbox)
   div.checkbox-buttons-container
      each checkbox in checkboxesList 
         +checkbox-button(name, checkbox.value, checkbox.firstLabelLine, checkbox.secondLabelLine, checkbox.isRich)