- 
   var defaultCheckbox = [
      {
         value: "smokingAllowed",
         firstLabelLine: "Можно курить",
         secondLabelLine: "",
         isRich: false
      },
      {
         value: "petsAllowed",
         firstLabelLine: "Можно с питомцами",
         secondLabelLine: "",
         isRich: false
      },
      {
         value: "guestsAllowed",
         firstLabelLine: "Можно пригласить гостей",
         secondLabelLine: "(до 10 человек)",
         isRich: false
      }
   ]