-
   var richDefaultCheckbox = [
      {
         value: "wideHallway",
         firstLabelLine: "Широкий коридор",
         secondLabelLine: "Ширина коридоров в номере не менее 91 см.",
         isRich: true
      },
      {
         value: "helperForDisabled",
         firstLabelLine: "Помощник для инвалидов",
         secondLabelLine: "На 1 этаже вас встретит специалист  и проводит до номера.",
         isRich: true
      }
   ]