@use "like-button__count";
@use "like-button__heart";
@use "like-button_active";
@use "like-button_inactive";

@use "../../../../style/colors.scss";

.like-button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 20px;
   background-color: white;
   cursor: pointer;
}

.like-button_inactive:hover .like-button__count {
   color: colors.$dark-shade-50;
}

.like-button_inactive:hover .like-button__heart {
   color: colors.$dark-shade-50;
}