@use "../../../style/colors.scss";
@use "../../../style/borders.scss";
@use "../../../style/fonts.scss" as *;
@use "../../../style/sizes.scss" as *;

.date-dropdown__input {
   @include small-width();
   @include body-style();
   padding-left: 15px;
   border: none;
   border-radius: borders.$regular-radius();
   outline: none;
   width: 100%;
   cursor: pointer;
}