@use '../../../style/fonts.scss' as *;
@use '../../../style/colors.scss';


.calendar__grid {
   @include calendar-grid-style();
   grid-row: 4 / 5;
}

.calendar__grid-row {
   display: grid;
   grid-template-columns: repeat(7, 40px);
   grid-template-rows: 40px;
   align-items: center;
   justify-items: center;
}

.calendar__grid-cell_not-current-month {
   opacity: 0.25;
}

.calendar__grid-cell {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   cursor: pointer;
   border-radius: 50%;
}

.calendar__grid-cell_today {
   @include pagination-number-current-style();
   background: colors.$green-blue-gradient();

   &:hover {
      opacity: 50%;
   }
}

.calendar__grid-cell_picked {
   @include pagination-number-current-style();
   background: colors.$purple-blue-gradient();
}

.calendar__grid-cell_range-track::after {
   content: '';
   width: 40px;
   position: absolute;
   height: 100%;
   z-index: -1;
   background: colors.$purple-blue-gradient;
   opacity: 0.25;
}

.calendar__grid-cell_range-track-start::after {
   content: '';
   position: absolute;
   width: 20px;
   left: 20px;
   height: 100%;
   z-index: -1;
   background: colors.$purple-blue-gradient;
   opacity: 0.25;
}

.calendar__grid-cell_range-track-end::after {
   content: '';
   position: absolute;
   width: 20px;
   right: 20px;
   height: 100%;
   z-index: -1;
   background: colors.$purple-blue-gradient;
   opacity: 0.25;
}