mixin radio-button(name, value, label)
   .radio-button
      label.radio-button__label
         input.radio-button__input(type="radio" name=name value=value)
         span.radio-button__title #{label}
         span.radio-button__checkmark