.radio-button__label {
   display: block;
   position: relative;
   padding-left: 30px;
   margin-bottom: 0;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}