mixin arrow-forward-button(id, newClass, isPurple)
   button.arrow-forward-button(for=id, class=newClass)
      if isPurple 
         include ../../../../svg/arrow_forward_purple-gradient.svg
      else 
         include ../../../../svg/arrow_forward.svg