@use "../../../style/colors.scss";
@use "../../../style/fonts.scss" as *;
@use "../../../style/borders.scss" as *;
@use "../../../style/borders.scss";
@use "../../../style/sizes.scss" as *;

.input-field__input {
   @include body-style();
   @include gray-border(borders.$regular-radius);
   @include large-width();
   @include regular-height();
   padding-left: 15px;
   padding-right: 15px;
}

.input-field__input::placeholder {
   color: colors.$dark-shade-25;
   opacity: 1; /* Firefox */
}
 
.input-field__input::-ms-input-placeholder { /* Edge 12 -18 */
   color: colors.$dark-shade-25;
}