include ../buttons/arrow-forward-button/arrow-forward-button

mixin subscription-text-field__button
   +arrow-forward-button("subscriptionTextFieldButton", "subscription-text-field__button", "purple-gradient")