@use "subscription-text-field__input";
@use "subscription-text-field__label";

@use "../../../style/sizes.scss" as *;
@use "../../../style/borders.scss" as *;

.subscription-text-field {
   display: grid;
   grid-template-columns: 1fr 44px;
   height: 44px;
   @include medium-width();
   @include gray-border(4px);
}