include subscription-text-field__label 
include subscription-text-field__input 
include subscription-text-field__button

mixin subscription-text-field(label, name, id, placeholder)
   .subscription-text-field
      +subscription-text-field__label(id, label)
      +subscription-text-field__input(id, name, placeholder)
      +subscription-text-field__button