include ../input-field/input-field.pug
include dropdown__label.pug
include dropdown__content.pug

- const people = [ { name: "Взрослые", value: 0 }, { name: "Дети", value: 0 }, { name: "Младенцы", value: 0 } ];

mixin dropdown(label, options=people)
   div.dropdown
      +dropdown__label(label)
      +dropdown__content(options)