include dropdown__option

mixin dropdown__select(id, name)
   select(class="dropdown__select input-field__input" name=name id=id)
      +dropdown__option("Взрослые")
      +dropdown__option("Adults")
      +dropdown__option("Младенцы")
   