@use "../../../../style/colors.scss";
@use "../../../../style/borders.scss";
@use "../../../../style/fonts.scss" as *;
@use "../../../../style/sizes.scss" as *;

.whole-button {
   display: flex;
   justify-content: center;
   align-items: center;
   @include small-button-size();
   @include h3-style();
   color: white;
   background: colors.$purple-blue-gradient();
   border: none;
   border-radius: borders.$large-radius();
   outline: none;
   cursor: pointer;

   &:hover {
      opacity: 50%;
   }
}
