include ../date-dropdown/date-dropdown

mixin date-dropdown-double(idOne, idTwo, label, name)
   .date-dropdown-double
      .date-dropdown-double__inputs
         +date-dropdown(label, name, idOne, false)
         +date-dropdown(label, name, idTwo, false)