@use 'colors';

$regular-radius: 4px;
$like-toggle-radius: 10px;
$large-radius: 24px;

@mixin gray-border($border-radius) {
   border: 1px solid colors.$dark-shade-25;
   border-radius: $border-radius;
   outline: none;

   &:hover, &:focus {
      border-color: colors.$dark-shade-50;
   }
}

@mixin purple-border($border-radius) {
   border: 1px solid colors.$purple;
   border-radius: $border-radius;
   outline: none;
}