@use 'colors';

@font-face {
   font-family: 'montserratregular';
   src: url('/src/font-files/montserrat-regular.woff2') format('woff2'),
        url('/src/font-files/montserrat-regular.woff') format('woff');
}

@font-face {
   font-family: 'montserratbold';
   src: url('/src/font-files/montserrat-bold.woff2') format('woff2'),
        url('/src/font-files/montserrat-bold.woff') format('woff');
}

@mixin h1-style {
   font-family: 'montserratbold';
   font-size: 24px;
   color: colors.$dark-shade-100;
}

@mixin h2-style {
   font-family: 'montserratbold';
   font-size: 19px;
   color: colors.$dark-shade-100;
}

@mixin h3-style {
   font-family: 'montserratbold';
   font-size: 12px;
   color: colors.$dark-shade-100;
   text-transform: uppercase;
}

@mixin body-style {
   font-family: 'montserratregular';
   font-size: 14px;
   color: colors.$dark-shade-75;
}

@mixin checkbox-style {
   font-family: 'montserratregular';
   font-size: 14px;
   color: colors.$dark-shade-50;
}

@mixin like-button-style {
   font-family: 'montserratregular';
   font-size: 10px;
   color: colors.$dark-shade-25;
}

@mixin range-slider-style {
   font-family: 'montserratregular';
   font-size: 12px;
   color: colors.$dark-shade-50;
}