@use 'fonts';
@use 'colors';

@use '../blocks/component/_component';

h1 {
   font: 100% fonts.$font-stack-bold;
   color: colors.$dark-shade-100;
   font-size: 24px;
}

h2 {
   font: 100% fonts.$font-stack-bold;
   color: colors.$dark-shade-100;
   font-size: 19px;
}

h3 {
   font: 100% fonts.$font-stack-bold;
   color: colors.$dark-shade-100;
   font-size: 12px;
   text-transform: uppercase;
}

body {
   font: 100% fonts.$font-stack-regular;
   color: colors.$dark-shade-75;
   font-size: 14px;
}