@mixin small-width {
   width: 150px;
}

@mixin medium-width {
   width: 266px;
}

@mixin large-width {
   width: 320px;
}

@mixin regular-height {
   height: 44px;
}

@mixin input-with-arrow-grid-layout {
   display: grid;
   grid-template-columns: 1fr 44px;
   grid-template-rows: 44px;
}

@mixin small-button-size {
   width: 99px;
   height: 44px;
   border-radius: 24px;
}

@mixin large-button-size {
   width: 320px;
   height: 44px;
   border-radius: 24px;
}

@mixin circle-button-size {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}