@use "../../../style/fonts.scss" as *;
@use "../../../style/sizes.scss" as *;

.dropdown-rooms__label {
   @include medium-block();
   display: flex;
   align-items: center; 
   justify-content: space-between;
   background-color: white;
   border-bottom-left-radius: 0; 
   border-bottom-right-radius: 0;
   cursor: pointer;
}