include dropdown-rooms__label-label.pug
include ../../buttons/arrow-down-button.pug

mixin dropdown-rooms__label(label, rooms, words)
   div.dropdown-rooms__label.input-field__input
      +dropdown-rooms__label-label(label, rooms, words)
      +arrow-down-button