@use "large-button__label";
@use "large-button__arrow";

@use "../../../../style/colors.scss";
@use "../../../../style/borders.scss";
@use "../../../../style/sizes.scss" as *;

.large-button {
   @include input-with-arrow-grid-layout();
   grid-template-rows: 1fr 1fr 1fr;
   @include large-button-size();
   background: colors.$purple-blue-gradient();
   border: none;
   border-radius: borders.$large-radius();
   outline: none;
   cursor: pointer;

   &:hover {
      opacity: 50%;
   }
}