include blocks/component/component
include blocks/header/header

doctype html
html
  head
    style
      include style.css
  body
    +header("New header!")
    +greeting(user)
    +greeting(user2)
    