include blocks/blocks.pug

doctype html
html
   head
      meta(charset="utf-8")
      title Metalamp 2nd task
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      <!--jQuery-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      script(src="main.js" type="module" defer) 
      style
         include main.css
   body
      +date-dropdown("Дата", "date", "date", "ДД.ММ.ГГГГ")
      //- +review
      //- +apartment-feature-container
      //- +subscription-text-field("Email", "subscribe", "subscribe", "Email")
      //- br
      //- //- +bullet-list
      //- +expandable-checkbox-list("expandable checkbox list", "expandCheckbox")
      //- //- +pagination
      //- //- br
      //- +range-slider("Range slider")
      //- //- br
      //- //- +whole-button("click me")
      //- //- br
      //- //- +border-button("click me")
      //- //- br
      //- +large-button("перейти к оплате", "go")
      //- +rate-buttons(3)
      //- br
      //- +like-button(2, true)
      br
      //- +like-button(2, false)
      //- br
      //- +text-field("text", "Email", "email", "email")
      //- br
      //- +dropdown
      //- br
      //- +checkbox-buttons-container
      //- br
      //- +radio-buttons-container
      //- br
      //- +toggle("receiveSpecialOffers", "Получать спецпредложения")
      //- br
      