include blocks/form-elements/text-field/text-field
include blocks/form-elements/dropdown/dropdown
include blocks/form-elements/dropdown-rooms/dropdown-rooms
include blocks/form-elements/buttons/checkbox-button/checkbox-button

doctype html
html
   head
      meta(charset="utf-8")
      title Metalamp 2nd task
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      style
         include main.css
   body
      +text-field("text", "Email", "email", "email")
      br
      +dropdown-rooms("Сколько комнат")
      br
      +checkbox-button("permissions", "canSmoke", "Можно курить")
      +checkbox-button("permissions", "canHavePets", "Можно с питомцами")
      +checkbox-button("permissions", "canInviteGuests", "Можно пригласить гостей", "(до 10 человек)")