include blocks/form-elements/text-field/text-field
include blocks/form-elements/dropdown/dropdown
include blocks/form-elements/dropdown-rooms/dropdown-rooms
include blocks/form-elements/buttons/checkbox-button/checkbox-buttons-container
include blocks/form-elements/buttons/radio-button/radio-buttons-container
include blocks/form-elements/buttons/toggle/toggle
include blocks/form-elements/buttons/like-button/like-button
include blocks/form-elements/buttons/rate-buttons/rate-buttons
include blocks/form-elements/buttons/range-slider/range-slider
include blocks/form-elements/buttons/whole-button/whole-button
include blocks/form-elements/buttons/border-button/border-button
include blocks/form-elements/buttons/large-button/large-button

doctype html
html
   head
      meta(charset="utf-8")
      title Metalamp 2nd task
      meta(name="viewport" content="initial-scale=1.0, width=device-width")
      script(src="main.js" type="module" defer) 
      style
         include main.css
   body
      br
      +range-slider("Диапазон цены", 15000)
      br
      +whole-button("click me")
      br
      +border-button("click me")
      br
      +large-button("перейти к оплате", "go")
      //- +rate-buttons(3)
      //- br
      //- +like-button(12)
      //- br
      //- +text-field("text", "Email", "email", "email")
      //- br
      +dropdown
      //- br
      //- +checkbox-buttons-container 
      //- br
      //- +radio-buttons-container
      //- br
      //- +toggle("receiveSpecialOffers", "Получать спецпредложения")
      //- br
      