@use "bullet-list-item__label";
@use "bullet-list-item__marker";
@use "bullet-list-item";

@use "../../style/sizes.scss" as *;

.bullet-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   list-style: none;
   padding: 0;
   margin: 0;
   @include medium-width();
}