mixin range-slider
   .range-slider
      .range-slider__values
         span#range1
            | 0
         span -
         span#range2
            | 100
      .range-slider__container
         .range-slider__track
            input#slider-1(type='range' min='0' max='15000' value='5000' step='1000')
            input#slider-2(type='range' min='0' max='15000' value='10000' step='1000')
            
      