mixin range-slider(label)
   .range-slider
      .range-slider__top
         .range-slider__label #{label}
         .range-slider__values
            span.range-slider__values-from 5000₽ 
            | - 
            span.range-slider__values-to 10000₽
      input(type="text" class="js-range-slider" name="price-range", value="")